* {
	margin: 0;
	padding: 0;
}

#header-el {
	color:  goldenrod;
	text-align: center;
	font-size: 50px;
	font-family: Prompt-Medium;
}

.download-txt {
	font-family: Prompt-Regular;
	text-align: center;
	font-size: 20px;
	color: skyblue;
}

.server-settings {
	font-family: Prompt-Light;
	font-size: 12px;
}

#get-el {
	font-family: Prompt-ExtraLight;
}

#get2-el {
	font-family: Prompt-ExtraLight;
}

#get3-el {
	font-family: Prompt-ExtraLight;
}

#get4-el {
	font-family: Prompt-ExtraLight;
}

#get5-el {
	font-family: Prompt-ExtraLight;
}

@font-face {
	font-family: Prompt-Medium;
	src: url(Prompt/Prompt-Medium.ttf);
}

@font-face {
	font-family: Prompt-Regular;
	src: url(Prompt/Prompt-Regular.ttf);
}

@font-face {
	font-family: Prompt-Light;
	src: url(Prompt/Prompt-Light.ttf);
}

@font-face {
	font-family: Prompt-ExtraLight;
	src: url(Prompt/Prompt-ExtraLight.ttf);
}